<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit painting</title>
</head>
<body>
<h1>Edit painting</h1>
<p>
    <a href="/paintings">Painting list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/edit-painting}" th:object="${painting}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Paint Code:</td>
            <td><input type="text" th:field="*{codePain}"/></td>
        </tr>
        <tr>
            <td>Height:</td>
            <td><input type="text" th:field="*{height}"/></td>
        </tr>
        <tr>
            <td>Weight:</td>
            <td>
                <input type="text" th:field="*{weight}"/>
            </td>
        </tr>
        <tr>
            <th>Material</th>
            <td>
                <input type="text" th:field="*{material}"/>
            </td>
        </tr>
        <tr>
            <th>Description</th>
            <td>
                <input type="text" th:field="*{description}"/>
            </td>
        </tr>
        <tr>
            <th>Price</th>
            <td>
                <input type="text" th:field="*{price}"/>
            </td>
        </tr>
        <tr>
            <td>Category:</td>
            <td>
                <select th:field="*{category}">
                    <option th:each="c : ${categories}"
                            th:value="${c.id}"
                            th:text="${c.name}"
                            th:s ="(${painting.category}) and (${c.id} == *{category.id})"></option>
                </select>
            </td>
        </tr>
        <tr>
            <th>Image</th>
            <td>
                <input type="file" th:field="*{image}">
            </td>
            <td>
                <img width="100" height="100" th:src="@{'/a/' + ${painting.image}}" alt="">
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update painting"></td>
        </tr>
    </table>
</form>
</body>
</html>
