<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Paintings</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        table, tr, th, td {
            border: 1px solid black;
            padding: 5px 20px;
            text-align: center;
        }
        body {
            text-decoration: none;
        }
    </style>
</head>
<body>
<div>
    <a th:href="@{create-painting}">Create new painting</a>
</div>
<div>
    <a th:href="@{/categories}">Go to category list</a>
</div>
<form>
    <input name="search1" type="text"/>
    <select name="search2" th:object="${categories}">
        <option th:each="c :${categories}" th:value="${c.id}" th:text="${c.name}"></option>
    </select>
    <button type="submit">search</button>
</form>
<table>
    <tr>
        <th>Code</th>
        <th>Height</th>
        <th>Weight</th>
        <th>Material</th>
        <th>Description</th>
        <th>Price</th>
        <th>Image</th>
        <th>Category</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr th:each="p: ${paintings}">
        <td th:text="${p.codePain}"></td>
        <td th:text="${p.height}"></td>
        <td th:text="${p.weight}"></td>
        <td th:text="${p.material}"></td>
        <td th:text="${p.description}"></td>
        <td th:text="${p.price}"></td>
        <td><img width="100" height="110" th:src="@{'/i/' + ${p.image}}" alt=""></td>
        <td th:if="${p.category}" th:text="${p.category.name}"></td>
        <td th:unless="${p.category}"></td>
        <td>
            <button><a th:href="@{/edit-painting/__${p.id}__ }">Edit</a></button>
        </td>
        <td>
            <button><a th:href="@{/delete-painting/__${p.id}__ }">Delete</a></button>
        </td>
    </tr>
</table>
<div>
    <a th:href="@{'/paintings'(page=${paintings.number - 1})}" th:if="${paintings.hasPrevious()}">Previous</a>
    <span th:text="${paintings.number + 1}"></span>/<span th:text="${paintings.totalPages}"></span>
    <a th:href="@{'/paintings'(page=${paintings.number + 1})}" th:if="${paintings.hasNext()}">Next</a>
</div>
</body>
</html>