<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View category</title>
</head>
<body>
<h1>View category: <span th:text="${category.name}"></span></h1>
<a href="/categories">Category list</a>
<table border="1">
    <tr>
        <th>Code</th>
        <th>Height</th>
        <th>Weight</th>
        <th>Material</th>
        <th>Description</th>
        <th>Price</th>
    </tr>
    <th:block th:each="painting : ${paintings}">
        <tr>
            <td th:text="${painting.codePain}"></td>
            <td th:text="${painting.height}"></td>
            <td th:text="${painting.weight}"></td>
            <td th:text="${painting.material}"></td>
            <td th:text="${painting.description}"></td>
            <td th:text="${painting.price}"></td>
        </tr>
    </th:block>
</table>
</body>
</html>